/* ================================
Global Styles & Resets
================================
*/
:root {
    --primary-brand: #4F46E5; 
    --primary-brand-dark: #4338CA;
    --dark-blue: #1e1e3f; 
    --gradient: linear-gradient(90deg, #4F46E5 0%, #a64aff 100%);
    --light-gray: #f3f4f6;
    --text-dark: #111827;
    --text-light: #ffffff;
    --text-secondary: #6B7280;
    --border-color: #D1D5DB;
}


body {
    font-family: 'Inter', sans-serif;
    /* font-size: 1rem; */
    background-color: #FFFFFF;
    color: var(--text-dark);
}

.auth-promo {
    background-color: var(--primary-brand);
}

.auth-promo a {
    text-decoration: none;
    color: var(--text-light);
}

.auth-promo a:hover,
.auth-promo a:focus {
    color: var(--text-secondary);
}